/**
 * @section Base Styles
 */

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover;
    text-decoration: none;
  }
}

article {
  &.post, &.page {
    @include article-style;

    .entry-title {
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-family: $font-body;
      font-weight: 900;
    }

    .entry-content {
      a {
        &:hover {
          text-decoration: underline;
        }
      }

      h1,h2,h3,h4,h5,h6 {
        //color: $color-bg-blue;
      }
    }

    .entry-meta {
      background: $color-gray-faint;
      padding: $spacer;
      font-style: italic;
    }

    .more-link {
      @include button;
    }

    .wp-block-separator {
      opacity: .15;
      margin-bottom: $spacer;
    }
  }
}

body {
	font-family: $font-body;
  font-weight: 300;
  background-color: $color-bg-blue;
  //background-color: radial-gradient(circle at center, $color-sky-light 50%, $color-sky-dark 125%);
  padding: 0;
  margin: 0;
  background-image: url('https://2020.atlanta.wordcamp.org/files/2019/09/wcatl20-atlanta-skyline-bg@2x.png'), radial-gradient(circle at center, $color-sky-light 40%, $color-sky-dark 125%);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 150% auto;
  background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-display;
  font-weight: 400;
  color: $color-bg-blue;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

input,
textarea,
select,
button {
	font: inherit;
}

#page {
  background: fade_out($white, 0.15);
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 0 20px fade_out(darken($color-bg-blue, 20%), 0.75);
}

#primary {
  padding: $spacer-2x;
}

.screen-reader-text {
  position: absolute;
  left: -999rem;
}

#secondary {
  padding: $spacer-2x;
  background: $color-sky-light;
}

@media #{$lg_up} {
  #content {
    display: flex;
  }

  #primary {
    flex-basis: 66.666%;
    padding: 3rem 8rem;
  }

  #secondary {
    flex-basis: 33.333%;
  }
}

@media #{$xl_up} {
  #page {
    //max-width: 1200px;
  }

  #primary {

  }
}
