/**
 * @section Base Styles
 */

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}

body {
	font-family: $font-body;
  font-weight: 300;
  background: $color-bg-blue;
  padding: 0;
  margin: 0;
}

.custom-header {
  background: $color-sky-light;
  background: linear-gradient(to top, $color-sky-dark, $color-sky-light 100%);
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-display;
  font-weight: 400;
}

input,
textarea,
select,
button {
	font: inherit;
}

#primary-menu {
  ul {
    list-style-type: none;
    background: $link-color;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;

    a {
      color: $white;
      padding: $spacer;
      display: inline-block;
      width: 100%;

      &:hover {
        background: $link-hover;
      }
    }

    .page_item_has_children {
      a {
        padding-left: $spacer-2x;
      }
    }
  }
}

#masthead {
  background: $color-sky-dark;
}

.menu-toggle {
  display: block;
  height: 1rem;
  width: 100%;
  background: $link-color;
  color: $white;
  padding: 1rem 1rem 2rem;
  border:0;
  letter-spacing: 0.5rem;
  cursor: pointer;

  &:before {
    //display: block;
    //background: $link-color;
    content:'MENU';
    //width: 100%;
    //padding: $spacer;
    //color:$white;
  }

  &:hover {
    background: $link-hover;
  }
}

#page {
  background: $white;
  margin: 0 auto;
  max-width: 1200px;
}

#primary {
  padding: $spacer-2x;
}

.screen-reader-text {
  position: absolute;
  left: -999rem;
}

.site-branding {
  margin:auto;
  text-align: center;
  padding: $spacer;
}

.site-title {
  margin:0;
  background-image: url('../svg/wcatl20-logo-gradient.svg');
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -999rem;
  //border: 1px solid #f00;
  background-position: center;
  height: 6rem;
}
