.wcorg-organizers {
  .wcorg-organizer {

    h2 {
      text-align: center;
    }

    .wcorg-organizer-description {
      .avatar {
        display: block;
        width: 50%;
        height: auto;
        margin: 0 auto $spacer-2x;
        border-radius: $spacer;
      }
    }

    @include article-style;
  }
}

@media #{$md_up} {
  .wcorg-organizers {
    .wcorg-organizer {

      h2 {
        text-align: left;
      }

      .wcorg-organizer-description {
        .avatar {
          width: 25%;
          max-width: 100px;
          float:left;
          margin: 0 $spacer $spacer 0;

        }
      }
    }
  }
}
